<!--The content below is only a placeholder and can be replaced.-->
<h1 class="bg-secondary  text-center text-white  p-3">Student details</h1>
<nav class="navbar navbar-default">
  <a routerLink="/add-users" routerLinkActive="active" class="navbar-brand"><button class="bg-primary text-white p-3 ">Add Student</button></a>
    <a routerLink="/display-users" routerLinkActive="active" class="navbar-brand"><button class="bg-primary text-white p-3 ">Display Student</button></a>
  </nav>
  

<router-outlet></router-outlet>
