
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" style="width:100%"> 
  <div class="form-group input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text bg-primary" id="basic-addon1">First Name</span>
        </div>

    
    <input  type="text"  class="form-control" name="userFirstName" [(ngModel)]="user.userFirstName" #userFirstName="ngModel" required pattern="^[a-zA-Z]{1,60}$">
   </div>
   <div *ngIf="(userFirstName.errors?.pattern || userFirstName.errors?.required) && userFirstName.touched;" style="color:red">
      Please enter a valid First Name!!!.....
    </div>
  <div class="form-group input-group mb-3">
    <div class="input input-group-prepend "><span class="input-group-text bg-primary" id="basic-addon1">Last Name</span></div>
    <input   type="text" class="form-control" name="userLastName" [(ngModel)]="user.userLastName" required pattern="^[a-zA-Z]{1,60}$" #userLastName="ngModel">
  </div>
  <div *ngIf="(userLastName.errors?.pattern || userLastName.errors?.required) && userLastName.touched" style="color:red">
       Please enter a valid Last Name!!!...
     </div>
  <div class="form-group input-group mb-3 ">
     <input  type="text" class="form-control input-sm" name="email" [(ngModel)]="user.email" required pattern="[\w-]+@([\w-]+\.)+[\w-]+" #email="ngModel">
        <div class="input input-group-append"><span class="input-group-text bg-primary" id="basic-addon1">@email.com</span></div>
 </div>
 <div *ngIf="(email.errors?.pattern||email.errors?.required) && email.touched" style="color:red" >
    Please enter a valid Email-id!..
  </div> 
 <div class="form-group input-group mb-3">
    <div class="input input-group-prepend"><span class="input-group-text bg-primary" id="basic-addon1">date of birth</span></div>
   <input type="date" class="form-control" name="dateofbirth" [(ngModel)]="user.dateofbirth" #dateofbirth="ngModel">
  
  </div>
 <div *ngIf="(dateofbirth.errors?.pattern||dateofbirth?.required)&& dateofbirth.touched" style="color:red">
  Please select your date of birth!
    </div>

 <div class="form-group input-group mb-3" >
    <div class="input input-group-prepend"><span class="input-group-text bg-primary" id="basic-addon1">Phone</span></div>
   <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone" required pattern="^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$" #phone="ngModel" (blur)="structure($event.target.value,userForm)" [value]="tempphone"> 
  </div>
  <div *ngIf="(phone.errors?.pattern||phone.errors?.required) && phone.touched" style="color:red">
      Please enter a valid phone number
      </div>
 <div class="form-group input-group mb-3">
    <div class="input input-group-prepend"><span class="input-group-text bg-primary" id="basic-addon1">Course</span></div>
   <select name="course"  class="custom-select" name="course" [(ngModel)]="user.course" #course="ngModel" >
     <option selected>Choose course</option>
     <option *ngFor="let course of courses">{{course}}</option>
   </select>
  </div>
  <div class="form-group input-group mb-3">
      <div class="input input-group-prepend"><span class="input-group-text bg-primary" id="basic-addon1">State</span></div>
    <select class="custom-select" name="stateName" [(ngModel)]="user.stateName" #stateName="ngModel">
      <option selected>Choose state</option>
      <option *ngFor="let state of states" >{{state}}</option>
    </select>
  </div>

  <div class="form-group input-group mb-3">
      <div class="input input-group-prepend"><span class="input-group-text bg-primary" id="basic-addon1">City</span></div>
      <select *ngIf="user.stateName=='tamilnadu'" class="custom-select"  name="cityName" [(ngModel)]="user.cityName" #cityName="ngModel">
        <option *ngFor="let city of cityTN" >{{city}}</option>
      </select>
      <select *ngIf="user.stateName=='andhrapradesh'"class="custom-select" name="cityName" [(ngModel)]="user.cityName" #cityName="ngModel">
      <option *ngFor="let city of cityAP" >{{city}}</option></select>
      <select *ngIf="user.stateName=='gujarat'"class="custom-select" name="cityName" [(ngModel)]="user.cityName" #cityName="ngModel">
        <option *ngFor="let city of cityG" >{{city}}</option></select>
        <select *ngIf="user.stateName=='kerala'"class="custom-select" name="cityName" [(ngModel)]="user.cityName" #cityName="ngModel">
        <option *ngFor="let city of cityK">{{city}}</option>
      </select>
    </div>
  <div class="form-action">
     
 <button  class="btn btn-success btn-primary mt-1" type="submit" [disabled]="!userForm.form.valid">Submit form</button>
</div>
 {{ userForm.value | json }}
</form>

